.support-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.parallelogram {
  clip-path: polygon(0 70px, 100% 0%, 100% calc(100% - 70px), 0% 100%);
}

.bottomSlant {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 70px), 0 100%);
}

.topSlant {
  clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 100%);
}
